.box {
  background: #BA4848;
  color: #fff;
  margin: 20px;
  padding: 12px;
}

.face {
  margin-right: 12px;
}

.action {
  text-align: right;
}

@media(min-width: 768px) {
  .box {
    display: flex;
    justify-content: space-between;
  }
}
