.box {
  background: #BA4848;
  color: #fff;
  margin: 20px;
  padding: 12px;
}

.face {
  margin-right: 12px;
}

.action {
  text-align: right;
}

.reload {
  background: none;
  color: inherit;
  border: 0;
  outline: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

@media(min-width: 768px) {
  .box {
    display: flex;
    justify-content: space-between;
  }
}
