.header {
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  padding: 0 1em;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  background: #fff;
}

.logo {
  width: 150px;
  margin-top: -5px; /* Offset the awkward logo height */
}

.filter {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: none;
  border: 0;
  position: relative;
  outline: 0;
}

.filterCount {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 8px;
  text-align: center;
  border-radius: 50%;
  background: #44A0B5;
  color: #fff;
  font-style: normal;
  font-weight: 600;
}

@media(min-width: 1024px) {
  .filter {
    display: none;
  }
}
