* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
}

img {
  max-width: 100%;
}

.App {
  padding-top: 60px; /* Escape sticky header */
}

.heading {
  font-size: 12px;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 44px;
  text-transform: capitalize;
  padding: 0 12px;
  margin-left: -12px;
  margin-right: -12px;
  transition: background 200ms ease;
  cursor: pointer;
}

.checkbox:hover {
  background: #f9f9f9;
}

.checkbox input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #44A0B5;
  margin-right: 8px;
  transition: background 375ms ease;
  outline: 0;
}

.checkbox input:checked {
  background: #44A0B5;
}

.btn {
  background: #44A0B5;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border: 0;
  color: #fff;
  outline: 0;
  height: 44px;
  padding: 0 16px;
}

.btn--block {
  width: 100%;
}
